<header class="d-flex justify-content-between align-items-center">
  <div>
    <h5 routerLink="" routerLinkActive="active" class="cursor-pointer barlow-condensed">HOME</h5>
  </div>
  <div routerLink="" routerLinkActive="active" class="text-blue text-center cursor-pointer">
  <h1 class="barlow-condensed">
    {{ title }}
  </h1>
  <h3 class="birthstone-bounce">
    {{ subTitle }}
  </h3>
</div>
  <div>
    <h5 routerLink="/posts" routerLinkActive="active" class="cursor-pointer barlow-condensed">BLOG</h5>
  </div>
</header>