<section class="container mt-5 mb-3">
  <div class="row">
    <div class="col">
      <ng-container *ngIf="post$ | async as p">
        <div>
          <div>
            <div>
              <img class="post-img" src="{{ p.fields.image.fields.file.url }}" />
            </div>
            <div>
              {{ p.fields.title }}
            </div>
          </div>
          <div>
            {{ p.fields.body }}
          </div>
        </div>
        <h5 routerLink="/posts" routerLinkActive="active" class="barlow-condensed cursor-pointer">Back</h5>
      </ng-container>
    </div>
  </div>
</section>