<section class="container mt-5 mb-3">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="post$ | async as p">
            <div >
              <img class="post-detail-img" src="{{ p.fields.image.fields.file.url }}" />
            </div>
            <h2 class="barlow-condensed">
              {{ p.fields.title }}
            </h2>
          <p class="source-sans">
            {{ p.fields.body }}
          </p>
        <button routerLink="/posts" routerLinkActive="active"
        class="btn btn-primary barlow-condensed">BACK</button>
      </ng-container>
    </div>
  </div>
</section>