.social-outer {
  padding-bottom: 250px;
}

.social-inner {
  padding: 30px;
}

.social-icon {
  cursor: pointer;
  stroke: white;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 20px;
}