.client-services-outer {
  display: flex;
  justify-content: center;
}

.client-services-inner {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin: 0 1.5em;
  border: 1px solid var(--tan-dark);
  background-color: var(--tan-lite);
}

.client-services-hr {
  width: 80%;
  color: var(--tan-dark);
}