<section class="container-fluid mb-5 p-0">
  <div class="d-flex align-items-center contact-feature">
    <!-- <div class="container">
      <div>
        <h1 class="birthstone-bounce">
          Welcome
        </h1>
        <h5 class="source-sans">You can get in touch by clicking the button below</h5>
        <hr width="1" />
      <button class="btn btn-primary barlow-condensed w-190">LET'S WORK TOGETHER</button></div>
    </div> -->
  </div>
</section>

<section class="container mb-5">
  <h2 class="barlow-condensed">CONTACT</h2>
</section>