.about-feature {
  height: 500px;
  background-color: var(--grey-med);
}

.about-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-inner {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin: 0 1.5em;
}

.about-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0 1.5em;
  background-color: var(--tan-lite);
}
