<section class="container mb-5">
  <div class="services-outer">
    <div class="services-inner">
      <h2 class="barlow-condensed">SERVICE 1</h2>
      <hr class="services-hr" width="1" />
      <p class="text-center">Cortina d'Ampezzo is a town in the heart of the southern (Dolomitic) Alps in the region of Veneto in northern Italy. Situated on the river Boite, in an alpine valley, it is a summer and winter sports resort.</p>
      <button class="btn btn-secondary barlow-condensed">LEARN MORE</button>
    </div>
    <div class="services-inner">
      <h2 class="barlow-condensed">SERVICE 2</h2>
      <hr class="services-hr" width="1" />
      <p class="text-center">Cortina d'Ampezzo is a town in the heart of the southern (Dolomitic) Alps in the region of Veneto in northern Italy. Situated on the river Boite, in an alpine valley, it is a summer and winter sports resort.</p>
      <button class="btn btn-secondary barlow-condensed">LEARN MORE</button>
    </div>
    <div class="services-inner">
      <h2 class="barlow-condensed">SERVICE 3</h2>
      <hr class="services-hr" width="1" />
      <p class="text-center">Cortina d'Ampezzo is a town in the heart of the southern (Dolomitic) Alps in the region of Veneto in northern Italy. Situated on the river Boite, in an alpine valley, it is a summer and winter sports resort.</p>
      <button class="btn btn-secondary barlow-condensed">LEARN MORE</button>
    </div>
  </div>
</section>