.services-outer {
  display: flex;
  justify-content: center;
}

.services-inner {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin: 0 1.5em;
  border: 1px solid #d7b58c;
  background-color: #e4d4c4;
}

.services-hr {
  width: 80%;
  color: #d7b58c;
}