// reset
* {
  @include reset(0, 0, border-box, none, none);
}

// body
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: $light;
  color: $dark;
}

// font
.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
}

.birthstone-bounce {
  font-family: 'Birthstone Bounce', cursive;
}

.text-theme-dark {
  color: $theme-dark;
}

.text-theme-med {
  color: $theme-med;
}

.text-theme-light {
  color: $theme-light;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

// bg
.bg-theme-dark {
  background-color: $theme-dark;
}

.bg-theme-med {
  background-color: $theme-med;
}

.bg-theme-light {
  background-color: $theme-light;
}

// control

.position-relative {
  position: relative;
}

// main logo
.sub-title {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}