// reset
* {
  @include reset(0, 0, border-box, none, none);
}

// body
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  background-color: $lite;
  color: $dark;
}

// BOOTSTRAP CONTROL

// theme colors
$theme-colors: (
	'primary': $blue-dark,
  'secondary': $grey-lite
);

// buttons
$btn-border-radius: 0px;

// font
p {
  font-family: "Source Sans Pro", sans-serif;
}

.source-sans {
  font-family: "Source Sans Pro", sans-serif;
}

.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
}

.birthstone-bounce {
  font-family: 'Birthstone Bounce', cursive;
}

.text-blue-dark {
  color: $blue-dark;
}

.text-grey-med {
  color: $grey-med;
}

.text-grey-lite {
  color: $grey-lite;
}

.text-tan-dark {
  color: $tan-dark;
}

.text-tan-lite {
  color: $tan-lite;
}

// bg
.bg-blue-dark {
  background-color: $blue-dark;
}

.bg-grey-med {
  background-color: $grey-med;
}

.bg-grey-lite {
  background-color: $grey-lite;
}

.bg-tan-dark {
  background-color: $tan-dark;
}

.bg-tan-lite {
  background-color: $tan-lite;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

// control
.position-relative {
  position: relative;
}